.app {
  height: 100%;
  max-height: 100%;
  width: 100vw;
}

@media only screen and (min-width: 640px) {
  .app {
    width: 640px;
    margin: 0 auto;
  }
}

.app-drawer-close-icon {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.app-message-form {
  display: flex;
}

.app-message-list-container {
  position: relative;
  overflow-y: auto;
  flex-grow: 1;
  background-color: #e8eaf6;
}

.app-message-list-item {
  max-width: 80%;
  display: inline-block;
}

.app-message-list-item .app-message-list-item__content {
  padding: 6px !important;
  word-wrap: break-word;
}

.pinned-message {
  opacity: 0.9;
  color: #bdbdbd;
}