.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.app-drawer-close-icon {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.app-message-form {
  display: flex;
}

.app-message-form__input {
  flex-grow: 1;
}

.app-message-list-container {
  overflow-y: auto;
  flex-grow: 1;
}

.app-message-list-item {
  max-width: 80%;
}

.app-message-list-item .app-message-list-item__content {
  padding: 6px !important;
  word-wrap: break-word;
}

.app-message-list-item-container {
  display: flex;
  margin: 12px;
}

.app-message-list-item-container--personal {
  justify-content: end;
}
